*{
    margin: 0;
    padding: 0;
}
body{
    background-image:url("image1.jpg");
    background-size: 30% 100%;
    /* 背景大小 */
    background-repeat: no-repeat;
    /* 背景不重复 */
    background-position: right top;
    /* 背景位置 */
    background-attachment: fixed;
    /* 背景是固定还是可以滚动{scroll} */
    max-width: 100%;
    height: auto;
}

.nav{
    color:black;
    /* 字体颜色 */
    background-color: darkkhaki;
    /* 背景颜色 */
    opacity: 0.8;
    /* 背景透明度 */
}
.nav li{
    display: inline-block;
    padding: 10px 80px;
    text-align: center;
    
}
.nav li:hover{
    background-color:aquamarine;
}
.nav a{
    font-size: 20px;
    text-decoration: none;
}

.container{
    position: relative;
    width: 500px;
    height: 500px;
    max-width: 600px;
    /* 设置最大宽度 */

    text-align:center;
    /* 设置文本水平对齐，{justify}可以让每条线的宽度一致 */
    vertical-align: baseline;
    /* 垂直高度对齐 */
    text-decoration:underline;
    /* 文本装饰线 */
    text-decoration-style: double;
    /* 指定装饰线样式 */
    text-shadow: 1px 2px 5px gray;
    /* 文本阴影：水平，垂直，模糊，颜色 */
    text-transform: uppercase;
    /* 文本大小写 */
    text-indent: 50px;
    /* 第一行缩进 */
    letter-spacing: 5px;
    /* 文本之间每个字符距离 */
    word-spacing: 10px;
    /* 文本之间每个字的距离 */
    line-height: 1.8;
    /* 文本上下高度 */

    background-color: bisque;
    border-bottom: 1px solid black;
    margin:75px;
    /* 可以添加方向，水平居中用{auto} */
    padding: 50px 50px;
    /* 可以添加方向 */
    box-sizing: border-box;
    /* 让元素保持宽度 */

    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    /* 一般选择斜体 */
    font-weight: normal;
    /* 也可以加粗{bold} */
    font-size: 1em;
    /* 字体大小 推荐使用{em}单位，{vm}可以让字体根据预览器大小改变 */
    box-shadow: 2px 2px 10px black;
    /* 盒子阴影 */
    vertical-align: middle;
}
.child-container::first-letter{
    color:greenyellow;
}
.child-container{
    position: absolute;
    left: 70%;
    top: 80%;
    width: 70px;
    height: 70px;
    background-color: darkorange;
    text-align: center;
}
.flow{
    overflow: hidden;
    /* 溢出部分隐藏，{visible}溢出部分可见，{scroll}溢出部分添加滚动条 */
}

.list-container div{
    text-align: center;
    margin:100px;
    display: inline-block;
}

.list-1{
    position: relative;
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
    width: 100px;
    height: 100px;
    background-color: chocolate;
    
    
    
}
.list-1 p{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}.list-2 p{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.list-3 p{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.list-2{
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    width: 100px;
    height: 100px;
    background-color:antiquewhite;
   
}
.list-3{
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    width: 100px;
    height: 100px;
    background-color:darkgoldenrod;
   
    
}
.grad {
    background-image: linear-gradient(red, yellow);
    background-image: linear-gradient(to bottom right, red, yellow);
    /* 线性渐变，可定义渐变方向 */
    background-image: radial-gradient(red, yellow, green);
    /* 径向渐变 */
    background-image: conic-gradient(red, yellow, green);
    /* 圆锥渐变 */
  }

  .move{
    position: absolute;
    width: 250px;
    height: 450px;
    background-color:paleturquoise;
    left:40vw;
    bottom: 5vw;
    animation: animations 3s ease 1s infinite alternate;
    /* 动画名字 持续时间 时间曲线 延迟 次数 方向 */
    
  }
 
  @keyframes animations{
    from { transform: translate(50px,100px);}
    to {transform: scale(1.5 1.5);background-color:palevioletred}
  }
  @keyframes animation1 {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }

  .mask{
    width: 800px;
    height: 600px;
    -webkit-mask-image: url(./ImageCollect/mask1.png);
    mask-image: url(./ImageCollect/mask1.png);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    animation: color 10s ease infinite alternate;
  }
  .inside-mask{
   

  }
  @keyframes color{
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }
 


  .flex-container {
    display: flex;
    flex-direction:row;
    /* {column}以列方式排列，{row}以行方式排列 */
    flex-wrap: wrap;
    /* 决定是否换行 */
    justify-content:center;
    /* 定义水平位置，弹性物体居中，{flex-start/end},{space-around/between} */
    align-items: flex-start;
    /* 定义垂直位置，{center}，{stretch}，{baseline} */
    align-content: center;
    /* 定义柔性线，柔性线显示中间，{space-around}，{stretch}，{flex-start/end} */
    background-color: DodgerBlue;
  }
  
  .flex-container div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .container{
    display: grid;
    column-gap: 50px;
    /* 调整间缝大小 */
    grid-template-columns: auto auto auto auto;
    /* 每列宽度 */
    grid-template-rows: auto auto auto auto;
    /* 每行宽度 */
  }
  .item1 {
    grid-column-start: 1;
    grid-column-end: 3;
    /* 从第一行开始到第三行 */
  }