*{
    margin: 0;
    padding: 0;
   
}
body{
    font-family: "Josefin Sans";
    overflow-x: hidden;
}
.nav{
    background-color: #f9e5df;
    overflow: hidden;
    width: 100%;
    height: 5%;
    opacity: 0.8;
    word-spacing:5px;
    box-shadow: 2px 1px 8px rgb(100, 98, 98);
    box-sizing: border-box;
    line-height: 1.15em;
}
.nav li{
    display: block;
    float: left;
    list-style-type:none;
    padding: 1.2em;
    font-size: 1.1em;
    
}
.nav li a:hover{
    color: #e5b36a;
    font-size: 1.15em;
    text-shadow:0px 1px 1px #e5b36a;
    transition: 0.5s ease-in-out;

}

.nav a{
    text-decoration: none;
    color: black;
    text-align: center;
}
.nav li:nth-child(1){
    font-size: 2.5em;
    font-weight: bold;
    padding:15px 6px;
}
.nav li:nth-child(n+2){
    margin-left: 3%;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 5%;
    padding: 1em;
    background-color: #f9e5df;
    color:black;
    font-size: small;
    font-weight:100;
    z-index: -1;
}

.top-background img{ 
    position: relative;
    max-width: 100%;
    height: auto;
    opacity: 0.8;
    z-index: -1;
}
.top-text{
    color:white;
    font-size: 5em;
    text-shadow: 2px 2px 3px black;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.row{
    display: grid;
    background-color: #eee5d8;
    grid-template-columns:50% 50%;
    margin: 0 auto;
    place-items:center;
}
.section1 img{
    margin-top: 3em;
    margin-bottom: 2em;
    border-radius: 20px;
    width: 20em;
    height: 20em;
}
.s1column1{
    text-align: center;
    font-size:2em;
    font-style: italic;
    font-weight: lighter;
    line-height: 1.3em;

}
.s1column1 h1{
    margin-bottom: 0.7em;
}
.s1column1 p{
    font-size: 0.7em;
}

.section2{
    background-color: #c7d7ca;
    text-align: center;
    padding: 1em;
    color: white;
}
.row1{
    display: grid;
    grid-template-columns: 50% 50%;
    
}
.s3column2{
     font-size: 5em;
     text-align: center;
     margin: 5em 1em 0em 0em;

}

h4{
    background-image:-webkit-linear-gradient(left,#e9a5a5,#b8c1c0 10%,#65c0c0 20%,#aea2db 30%,#81c1d9 40%,#e9a5a5 50%,#b8c1c0 60%,#65c0e0 70%,#aea2db 80%,#81c1d9 90%,#e9a5a5) ;
    
    -webkit-background-clip: text;
    background-size: 200% 100%;
    color:transparent;
    animation: a 5s infinite linear;
    animation: move 6s forwards ease-in-out ;
    line-height: 2em;
}
@keyframes move{
    0%{
        transform: rotate(20deg);
    }
    25%{
        transform: rotate(40deg);
    }
    50%{
        transform: rotate(-40deg);
    }
    75%{
        transform: rotate(-20deg);
    }
    100%{
        transform: scale(2);
    }
}
@keyframes a{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: -100% 0;
    }
}


.section4{
    position: relative;
    background-color: #79a6a3;
    text-align: center;
    padding: 1em;
    color: white;
}
.section5{
    position: relative;
    display: grid;
    place-items: center;
    box-sizing: border-box;
}
.section5 img{ 
    position: relative;
    max-width: 100%;
    height: auto;
    opacity: 0.8;
}
.section5-text{
    position: absolute;
    width: 60%;
    height: 60%;
    background-color: whitesmoke;
    column-count:3;
    line-height: 2em;
    text-align: center;
    font-size: 2em;
    text-shadow:1px 1px 1px whitesmoke;
    box-sizing: border-box;
}
.section5-text p{
   margin: 2em 0em;
   padding: 1em;
   overflow: hidden;
}
.section5-text p:nth-child(n+3){
    border-left: 3px solid black;
    
}
.section5 button{
    position: absolute;
    bottom: 10em;
    margin-bottom: 10em;
    background-color:#fdeac3;
    text-align: center;
    padding: 15px 32px;
    text-decoration: none;
    border: 0.5px solid rgb(0, 0, 0);
    border-radius: 10px;
    font-weight: bold;
}
.section5 button:hover{
    box-shadow: 1px 8px 10px rgb(231, 209, 169);
    transition: 0.3s;
}

